*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
#nav1 {
    background-color: black;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  
  #nav1 #nav_rigth{
    font-size : x-large;
  }
  
  #nav1 #nav_rigth i{
    padding: 10px;
  }
  
  #nav1 #nav_rigth i:hover{
    cursor: pointer;
  }

  #body {
    height: 90%;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
  }

  .container {
    width: 100%;
    height: 15%;
    background-color: whitesmoke;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    border: .25px solid rgb(218, 218, 218);
  }

  .container .img{
    border-radius: 20px;
    margin-left: 5px;
    height: 90%;
    width: 10%;
  }

  .container .img img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .container .columne_it{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  .container .columne_it h1{
    padding-bottom: 5px;
  }